body{
	margin:0;
	padding: 0;
	
}

.hero-image{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("rice-edit.jpg");
	min-height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.container{
	position: absolute;
	top: 5%;
	left: 30%;
	transform: translateX(-50%), translateY(-50%);
}

.logo {
	position: absolute;
	left:-40%;
	text-decoration: none;
	color: #fff;
	font-family: Source Sans Pro;
	font-weight: lighter;
	font-size: 28px;
}

li{
	display: inline-block;
	margin-right: 10px;
}

li a{
	text-decoration: none;
	color: #fff;
	font-family: Source Sans Pro;
	font-weight: lighter;
	font-size: 28px;
	padding: 0 20px;
}

.cool-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;
}

.cool-link:hover::after {
	width: 100%;
	transition: width .3s;
}

.btn {
	border:none;
	color: #fff;
	font-family: Source Sans Pro;
	font-weight: lighter;
	font-size: 28px;
	background-color: #fff0;
}














